.css_post_tag_div_UPDATE h1 {
    margin-bottom: 30px;
    font-family: 'Alata', sans-serif;
    display: inline-block;
    font-size: 25px;
}

.css_post_tag_div_UPDATE h2 {
    font-size: 25px;
    font-family: 'Barlow Condensed', sans-serif;
}

.css_post_tag_div_UPDATE {
    font-size: 24px;
    font-weight: 100;
    font-family: 'Itim', cursive;
}

.css_post_tag_div_UPDATE span {
    color: mediumblue;
    font-family: 'Kanit', sans-serif;
    font-size: 27px;
}