#f1 {
    font-family: 'Alata', sans-serif;
}

#f2 {
    font-family: 'Bahianita', cursive;
}

#f3 {
    font-family: 'Barlow Condensed', sans-serif;
}

#f4 {
    font-family: 'Dosis', sans-serif;
}

#f5 {
    font-family: 'Exo 2', sans-serif;
}

#f6 {
    font-family: 'Fira Sans', sans-serif;
}

#f7 {
    font-family: 'Itim', cursive;
}

#f8 {
    font-family: 'Kanit', sans-serif;
}

#f9 {
    font-family: 'Mitr', sans-serif;
}

#f10 {
    font-family: 'Monda', sans-serif;
}

#f11 {
    font-family: 'Patrick Hand', cursive;
}

#f12 {
    font-family: 'Roboto', sans-serif;
}

#f13 {
    font-family: 'Signika', sans-serif;
}

#f14 {
    font-family: 'Signika Negative', sans-serif;
}

#f15 {
    font-family: 'Varela Round', sans-serif;
}

#f16 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}